extends layout

block content
  h1= title
  p Welcome to #{title}
  form#form(method='get')
    | Kata yang ingin dicari:
    input(type='text', name='anagram', value='')
    br
    br
    input(type='submit', value='Submit')
  p  kata anagram yang dapat dibuat dari kata-kata yang diinput adalah:
