doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js')
  body
    block content

  footer.page-footer
    .container
      .row
        .col.s12.center-align
          h5.white-text Simple Anagram Server
    .footer-copyright.valing-wrapper
      .container.valign
        p &copy; 2016 Ajilantang - Tamatamvan
